body {
  background-color: blue;
}
h1 {
  text-align: center;
  color: white;
  text-transform: uppercase;
}
img {
    display: block;
    margin: 0 auto;
    width: 400px;
    height: auto;
    border-bottom: 20px;
  }
h2 {
  text-align: center;
  color: white;
  text-transform: uppercase;
  font-size: 40px;
}

.form-group {
  text-align: center;
  color: white;
  font-size: 20px;
}

.btn {
  display:block;
  width:20%;
  margin:0 auto;
  position:relative;
}

#number {
  color: black;
}

#result {
  display: none;
  text-align: center;
  font-size: 30px;
  color: white;
}
